html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6em;
  line-height: 1.6;
  color: $color-black;
  font-family: $font-family;
}

.ReactTable {
  border-color: #D5D5D5;
}

.rt-tr-group {
  &:first-child {
    background-color: #E3EBF2;
  }
}

.rt-th {
  font-size: 12px;
}

.rt-td {
  align-items: center;
  display: flex;
  font-size: 12px;

  &:not(:first-child) {
    justify-content: center;
  }
}

.selector-modal__inner {
  margin-left: 24px;
}
